---
import Layout from "../../layouts/Layout.astro";
import NavSup from "../../components/NavSup.astro";
import Objetivos from "../../layouts/Secciones/Objetivos.astro";
import SectionScreen from "../../components/SectionScreen.astro";
import IconFlecha from "../../components/IconFlecha.astro";
import NavFooterSection from "../../components/NavFooterSection.astro";


---

<Layout title="Objetivos de la investigación">
  <NavSup />
  <Objetivos />
  <SectionScreen tipo="azul">
    <div class="h-full flex flex-col justify-center items-center gap-5 text-center py-10">
      <h1 class="gradiant-text text-4xl md:text-8xl">Objetivo General</h1>
      <div class="border-b-2 border-secondary-2 w-sm lg:w-5xl"></div>
      <p class="text-2xl md:text-4xl text-white px-20 mt-10">Diseñar e implementar un sitio web intuitiva y fácil de usar que contenga toda la información necesarios para la utilización segura de aplicaciones Fintech como billeteras electrónicas o medio de pago digitales, aumentando la confianza del uso de estas.</p>
    </div>
  </SectionScreen>

  <SectionScreen tipo="azul">
    <div class="h-full flex flex-col justify-center items-center gap-5 text-center py-10">
      <h1 class="gradiant-text  text-4xl md:text-8xl">Objetivos Específicos</h1>
      <div class="border-b-2 border-secondary-2 w-sm lg:w-5xl"></div>
      <div class="flex flex-row items-center justify-center gap-5 mt-10 md:w-3/4 px-5">
        <IconFlecha class="rotate-90 md:scale-100 scale-80" />
        <p class="text-2xl md:text-4xl text-white text-left">Identificar y caracterizar las principales empresas Fintech que operan en Honduras, los servicios que ofrecen y su público objetivo.</p>
      </div>
      <div class="flex flex-row items-center justify-center gap-5 mt-10 md:w-3/4 px-5">
        <IconFlecha class="rotate-90 md:scale-100 scale-80" />
        <p class="text-2xl md:text-4xl text-white text-left">Proponer recomendaciones para fortalecer el ecosistema Fintech en Honduras, de esta forma contribuir al desarrollo de un ecosistema más robusto e inclusivo en el país</p>
      </div>
      <div class="flex flex-row items-center justify-center gap-5 mt-10 md:w-3/4 px-5">
        <IconFlecha class="rotate-90 md:scale-100 scale-80" />
        <p class="text-2xl md:text-4xl text-white text-left">Evaluar el marco legal y regulatorio actual del Fintech en Honduras, identificando sus fortalezas, debilidades y áreas de mejora.</p>
      </div>

    </div>
  </SectionScreen>
  <NavFooterSection
    anterior={{
      href: "/02-antecedentes-del-problema",
      text: "Antecedentes del Problema",
    }}
    siguiente={{
      href: "/04-preguntas-de-investigacion",
      text: "Preguntas de investigación",
    }}
  />

</Layout>

<style>
  .gradiant-text {
    width: fit-content;
      color: #3d56cf; 
      background-image: linear-gradient(45deg, var(--color-secondary-2) , var(--color-secondary)); 
      background-clip: text; 
      -webkit-background-clip: text; 
      -webkit-text-fill-color: transparent;
  }
</style>
