---
import Layout from "../../layouts/Layout.astro";
import NavSup from "../../components/NavSup.astro";
import SectionScreen from "../../components/SectionScreen.astro";
import NavFooterSection from "../../components/NavFooterSection.astro";
import DataBoxTit from "../../components/DataBoxTit.astro";
import DataBoxRect from "../../components/DataBoxRect.astro";
import TitlePinSub from "../../components/TitlePinSub.astro";
---

<Layout title="Normas y Legislación" preCarga="/04-objetivos">
  <NavSup />

  <TitlePinSub number="03" title="Normas y Legislación" />

  <SectionScreen tipo="degradado-3" class="section-content-nl">
    <div
      class="h-full flex flex-col justify-center-safe items-center-safe gap-20 py-25 lg:py-10"
    >
      <h2 class="text-6xl md:text-7xl text-secondary-2 text-center">
        Normas y Estándares
      </h2>
      <div
        class="flex flex-wrap justify-center-safe items-center-safe gap-20 px-5"
      >
        <DataBoxTit
          data="ISO 27001"
          description="Establece un marco para implementar, mantener y mejorar la seguridad de la información en una organización"
        />
        <DataBoxTit
          data="ISO 20022"
          description="Estándar de mensajes de pagos e informes que utiliza una sintaxis estructurada conocida como Lenguaje de Marcado Extensible.Swift y SIPA"
        />
        <DataBoxTit
          data="PCI DSS"
          description="Conjunto de estándares de seguridad diseñado para garantizar que todas las empresas que aceptan procesan o almacenan información de tarjetas de crédito mantengan un entorno seguro."
        />
      </div>
    </div>
  </SectionScreen>
  <SectionScreen tipo="degradado-3" class="section-content-nl">
    <div
      class="h-full flex flex-col justify-center-safe items-center-safe gap-20 py-25 lg:p-10"
    >
      <h2 class="text-6xl md:text-7xl text-secondary-2 text-center">
        Legislación
      </h2>
      <div
        class="flex flex-col justify-center-safe items-center-safe gap-20 md:w-5/6"
      >
        <DataBoxRect
          data="Reglamento para los Servicios de Pago y Transferencia Utilizando Dinero Electrónico - BCH (Acuerdo No. 12-2022):"
          description="Regula las operaciones de pago y transferencia que utilizan dinero electrónico, estableciendo requisitos para las INDEL, las IFI y las CAC."
        />
        <DataBoxRect
          data="Reglamento para los Servicios Ofrecidos por las Entidades Proveedoras de Servicios de Pagos Electrónicos (EPSPE) - BCH (Acuerdo No. 13-2022):"
          description="Regula la organización, operación y funcionamiento de las EPSPE, que facilitan la interconexión entre diferentes actores del sistema financiero para la realización de pagos electrónicos."
        />
      </div>
    </div>
  </SectionScreen>
  <SectionScreen tipo="degradado-3" class="section-content-nl">
    <div
      class="h-full flex flex-col justify-center-safe items-center-safe gap-20 py-25 lg:p-10"
    >
      <h2 class="text-6xl md:text-7xl text-secondary-2 text-center">
        Legislación
      </h2>
      <div
        class="flex flex-col justify-center-safe items-center-safe gap-20 w-5/6"
      >
        <DataBoxRect
          data="Normas para la Supervisión de las Instituciones No Bancarias de Dinero Electrónico - CNBS:"
          description="Establecen los requisitos prudenciales y de gestión de riesgos para las INDEL."
        />
      </div>
    </div>
  </SectionScreen>
  <NavFooterSection
    anterior={{
      href: "/02-antecedentes-del-problema",
      text: "Pregunta de Investigación",
    }}
    siguiente={{
      href: "/04-objetivos",
      text: "Objetivos",
    }}
  />
</Layout>

<style>
  .gradiant-text {
    width: fit-content;
    color: #3d56cf;
    background-image: linear-gradient(
      45deg,
      var(--color-secondary-2),
      var(--color-secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";
  gsap.registerPlugin(ScrollTrigger, SplitText);

 document.addEventListener("DOMContentLoaded", () => {
    const contenedor = document.querySelectorAll(".section-content-nl");
    contenedor.forEach((elemento) => {
      const cardsData = elemento.querySelectorAll(".data-card-tit");
      const cardsDataRect = elemento.querySelectorAll(".data-card-rect");
      const title = elemento.querySelectorAll("h2");
    
      const tlMain = gsap.timeline({
        scrollTrigger: {
          trigger: elemento,
          start: "10% center",
        },
      });
      if (title.length > 0) {
        const tl = gsap.timeline({});
        const splitTitle = new SplitText(title, { type: "words" });
        tl.from(splitTitle.words, {
          y: 50,
          opacity: 0,
          stagger: 0.1,
          duration: 0.5,
          ease: "power2.inOut",
        });
        tlMain.add(tl);

      }
      if (cardsDataRect.length > 0) {
        const tl = gsap.timeline({});
        tl.from(cardsDataRect, {
          y: 50,
          opacity: 0,
          stagger: 0.1,
          duration: 0.5,
          ease: "back.out(1.7)",
        });
        tlMain.add(tl,"<0.5");
      }
      if (cardsData.length > 0) {
        const tl = gsap.timeline({});
        tl.from(cardsData, {
          y: 50,
          opacity: 0,
          stagger: 0.1,
          duration: 0.5,
          ease: "back.out(1.7)",
        });
        tlMain.add(tl,"<0.5");
      }
    })
  });

</script>
