---
import Layout from "../../layouts/Layout.astro";
import NavSup from "../../components/NavSup.astro";
import SectionScreen from "../../components/SectionScreen.astro";
import NavFooterSection from "../../components/NavFooterSection.astro";
import imagensElements from "../../utilitys/imagensElements";
import CardProfile from "../../components/CardProfile.astro";
import TitlePinSub from "../../components/TitlePinSub.astro";

const { entrevista1, entrevista2, entrevista3, entrevista4 } = imagensElements;
---

<Layout title="Metodología" preCarga="/07-resultados">
  <NavSup />

  <TitlePinSub number="06" title="Metodología" />

  <SectionScreen tipo="azul" class="card-met-1">
    <div class="h-screen flex flex-row justify-between">
      <div
        class="rect-lat h-full lg:w-3/10 md:w-3/12 bg-gradient-to-b from-background-1 from-10% via-background-2 via-60% to-background-3 to-150% md:flex hidden"
      >
      </div>
      <div class="w-3/7 md:w-3/4 bg-white py-15 lg:py-10">
        <ul
          class="h-full flex flex-col items-center md:items-end-safe justify-center gap-15 lg:gap-20 px-10"
        >
          <li><p class="li1 text-3xl lg:text-8xl font-bold">Enfoque:</p></li>
          <li>
            <p class="li1 text-3xl lg:text-8xl font-bold gradiant-text">
              Alcance:
            </p>
          </li>
          <li><p class="li1 text-3xl lg:text-8xl font-bold">Diseño:</p></li>
          <li>
            <p class="li1 text-3xl lg:text-8xl font-bold gradiant-text">
              Muestreo:
            </p>
          </li>
        </ul>
      </div>
      <div class="w-full bg-background-2 px-5 lg:px-10 py-15 lg:py-10">
        <ul
          class="h-full flex flex-col items-start justify-center gap-10 lg:gap-20 md:mt-0 lg:mt-5 mt-8"
        >
          <li>
            <p class="li2 text-2xl lg:text-5xl py-2 lg:py-5 text-white">
              Cualitativo
            </p>
          </li>
          <li>
            <p class="li2 text-2xl lg:text-5xl py-2 lg:py-5 text-white">
              Descriptivo
            </p>
          </li>
          <li>
            <p class="li2 text-1xl lg:text-5xl py-2 lg:py-5 text-white">
              No Experimental y Transversal:
            </p>
          </li>
          <li>
            <p class="li2 text-1xl lg:text-5xl py-2 lg:py-5 text-white">
              No probabilístico por conveniencia, basado en expertos
            </p>
          </li>
        </ul>
      </div>
    </div>
  </SectionScreen>

  <SectionScreen tipo="degradado-3" class="card-met-2">
    <div
      class="h-full w-full flex flex-col items-center justify-center py-25 overflow-hidden"
    >
      <h2 class="text-secondary-2 text-3xl md:text-6xl lg:text-8xl text-center">
        Entrevistas a expertos
      </h2>
      <div class="mt-20 flex flex-col md:flex-wrap items-center justify-center gap-5 overflow-hidden">
        <CardProfile data={entrevista1} />
        <CardProfile data={entrevista2} />
        <CardProfile data={entrevista3} />
        <CardProfile data={entrevista4} />
      </div>
    </div>
  </SectionScreen>

  <NavFooterSection
    anterior={{
      href: "/05-preguntas-de-investigacion",
      text: "Preguntas de investigación",
    }}
    siguiente={{
      href: "/07-resultados",
      text: "Resultados",
    }}
  />
</Layout>

<style>
  .gradiant-text {
    width: fit-content;
    color: #3d56cf;
    background-image: linear-gradient(
      45deg,
      var(--color-secondary-2),
      var(--color-secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";
  gsap.registerPlugin(ScrollTrigger, SplitText);

  
  document.addEventListener("DOMContentLoaded", () => {
    const tlDip1 = gsap.timeline({
      scrollTrigger: {
        trigger: ".card-met-1",
        start: "10% center",
        toggleActions: "play none none none",
      },
    });
    tlDip1
      .from(".rect-lat", {
        width: "200%",
        duration: 0.5,
        ease: "power2.out",
        delay: 0.2,
      })
      .from(
        ".li1",
        {
          x: 100,
          opacity: 0,
          stagger: 0.1,
          duration: 0.5,
          delay: 0.2,
        },
        ">"
      )
      .from(
        ".li2",
        {
          x: -100,
          opacity: 0,
          stagger: 0.1,
          duration: 0.5,
        },
        "<0.2"
      );

    const tlDip2 = gsap.timeline({
      scrollTrigger: {
        trigger: ".card-met-2",
        start: "10% center",
        toggleActions: "play none none none",
      },
    });

    tlDip2
      .from("h2", {
        x: 100,
        opacity: 0,
        duration: 0.5,
        ease: "power2.out",
        delay: 0.2,
      })
      .from(".card-profile", {
        y: 50,
        opacity: 0,
        stagger: 0.7,
        duration: 1,
        ease: "back.out(1.7)",
      });
  });
</script>
