---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import imagensElements from "../utilitys/imagensElements";
const { lgUPH,foto4, alipay, paylpal, } = imagensElements;

import HeroPortada from "../components/HeroPortada.astro";
import SectionScreen from "../components/SectionScreen.astro";

---

<Layout>
  <main class="mx-auto">
		<!-- portada -->
		<HeroPortada />
    
	</main>

</Layout>

<style>

	.rectangulo-morado {
		position: absolute;
		width: 70%;
		height: 50%;
		right: 30%;
		top: 15%;
		z-index: 0;
		background-color: var(--color-background-1);
	}
  .icon::before{
    position: absolute;
    content: "";
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: white;
    width: 60%;
    height: 40%;
    top: 30%;
    left: 20%;
  }
</style>

