---
const { tipo } = Astro.props;
let clases;
switch (tipo) {
  case 'degradado-1':
      clases = "text-center h-screen bg-gradient-to-b from-background-1 from-10% via-background-2 via-60% to-background-3 to-200% shadow-lg shadow-background-1"
      break
  case 'azul':
      clases = "text-center h-screen bg-background-1 shadow-lg shadow-background-1"
      break
  default:
    clases = 'h-screen my-10 bg-gray-100 rounded-lg shadow-lg shadow-background-1 my-10"';
    break;
}
---
<section class={ clases }>
  <slot/>
</section>