---
export interface Props {
  numero: string;
  titulo: string;
  class?: string;
}
import MapHN from "../assets/img/svg/MapHN.svg";

const { numero, titulo, class: className = "" } = Astro.props
---
<div class={className}>
  <div class= `m-10 relative overflow-hidden py-10 text-center h-screen flex flex-col items-center justify-center `>
    <div class="absolute z-10 bg-white mx-10 flex flex-row items-center justify-center gap-0 md:gap-5 rounded-lg shadow-lg">
      <p class="py-15 px-2 md:px-5 text-3xl md:text-7xl font-black text-white bg-secondary">
        { numero }
      </p>
      <h3 class="text-3xl md:text-7xl text-primary  lg:px-20 p-3 ">
        { titulo }
      </h3>
    </div>
  </div>
</div>

<style>
  
</style>